---
import { TracingBeam } from "../components/ui/tracing-beam.tsx";
import { getCollection } from "astro:content";

const { posts } = Astro.props

const blogs = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<section class="container flex justify-center z-10 relative">
  <div class="mt-8 items-center">
     <TracingBeam class="" client:only>
      <div class="max-w-lg antialiased  pt-4 gap-y-3 ">
    
      {blogs.map((post, index) => (
          <div class="mt-8">
            <a href={`/posts/${post.slug}`} class="text-2xl font-bold no-underline hover:underline">
              <h2 class="">{post.data.title}</h2>
            </a>
            <p class="text-sm text-gray-500">{new Date(post.data.pubDate).toLocaleDateString()}</p>
            {post.data.image && (
              <img src={post.data.image.url} alt={post.data.image.alt} class="rounded-lg mb-4" />
            )}
            <p class="text-sm text-gray-500">{post.data.description}</p>
            <a href={`/posts/${post.slug}`} class=" text-blue-500 ">Read article ></a>
          </div> ))}    
    </div>
     </TracingBeam>
  </div>
</section>
